


.forgot-container{
  img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        object-fit: cover;
        display: block;
        z-index: -10;
    }
    .form-forgot-container{
      padding-left: 140px;
      .form-forgot{
        display: flex;
        padding-top: 150px;
        .form-password{
          width: 110px;
          height: 110px;
          margin-right: 10px;
          text-align: center;
        }
        input.form-control {
          text-align: center;
          width: 90px;
          height: 90px;
          background-color: #000;
          color: white;
          font-size: 70px;
        }
      }
      .countdown{
        color: white;
      }
      button{
          background-color: rgba(35,22,77,255);
          opacity: 0.5;
          border: 0 solid;
          border-radius: 5px;
          margin-bottom: 5px;
          width: 450px;
          font-size: 17px;
          height: 60px;
        }
    }
}
